<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sl.dao.UserMapper">

    <select id="findByUser" resultType="User" parameterType="User">
        select <include refid="all"/> from au_user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="loginCode!=null and loginCode!=''">
                loginCode=#{loginCode}
            </if>
            <if test="isStart!=null and isStart&gt;0 and isStart&lt;3">
                and isStart=#{isStart}
            </if>
        </trim>
    </select>
    <select id="findByUsers" resultType="User">
        SELECT <include refid="all"/> from au_user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="user.loginCode!=null and user.loginCode!=''">
                AND loginCode LIKE concat('%',#{user.loginCode},'%')
            </if>
            <if test="user.userName!=null and user.userName!=''">
                AND userName LIKE concat('%',#{user.userName},'%')
            </if>
            <if test="user.referCode!=null and user.referCode!=''">
                AND referCode LIKE concat('%',#{user.referCode},'%')
            </if>
            <if test="user.roleId!=null">
                AND roleId=#{user.roleId}
            </if>
            <if test="user.isStart!=null and user.isStart&gt;0 and user.isStart&lt;3">
                and isStart=#{user.isStart}
            </if>
        </trim>
        ORDER BY createTime DESC
        limit #{pageIndex},#{pageSize};
    </select>
    <select id="findByLoginCount" resultType="int" parameterType="User">
        select COUNT(1) from au_user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="loginCode!=null and loginCode!=''">
                loginCode=#{loginCode}
            </if>
            <if test="userName!=null and userName!=''">
                AND userName LIKE concat('%',#{userName},'%')
            </if>
            <if test="referCode!=null and referCode!=''">
                AND referCode LIKE concat('%',#{referCode},'%')
            </if>
            <if test="roleId!=null">
                AND roleId=#{roleId}
            </if>
            <if test="isStart!=null and isStart&gt;0 and isStart&lt;3">
                and isStart=#{isStart}
            </if>
            <if test="id!=null">
                AND id != #{id}
            </if>
        </trim>
    </select>
    <update id="updateByUser" parameterType="User">
        UPDATE au_user
        <set>
            <if test="loginCode != null"> loginCode = #{loginCode},</if>
            <if test="userName != null"> userName = #{userName},</if>
            <if test="password != null"> password = #{password},</if>
            <if test="password2 != null"> password2 = #{password2},</if>
            <if test="sex != null"> sex = #{sex},</if>
            <if test="birthday != null"> birthday = #{birthday},</if>
            <if test="cardType != null"> cardType = #{cardType},</if>
            <if test="cardTypeName != null"> cardTypeName = #{cardTypeName},</if>
            <if test="idCard != null"> idCard = #{idCard},</if>
            <if test="country != null"> country = #{country},</if>
            <if test="mobile != null"> mobile = #{mobile},</if>
            <if test="email != null"> email = #{email},</if>
            <if test="userAddress != null"> userAddress = #{userAddress},</if>
            <if test="postCode != null"> postCode = #{postCode},</if>
            <if test="createTime != null"> createTime = #{createTime},</if>
            <if test="referId != null"> referId = #{referId},</if>
            <if test="referCode != null"> referCode = #{referCode},</if>
            <if test="roleId != null"> roleId = #{roleId},</if>
            <if test="roleName != null"> roleName = #{roleName},</if>
            <if test="userType != null"> userType = #{userType},</if>
            <if test="userTypeName != null"> userTypeName = #{userTypeName},</if>
            <if test="isStart != null"> isStart = #{isStart},</if>
            <if test="lastUpdateTime != null"> lastUpdateTime = #{lastUpdateTime},</if>
            <if test="lastLoginTime != null"> lastLoginTime = #{lastLoginTime},</if>
            <if test="bankName != null"> bankName = #{bankName},</if>
            <if test="accountHolder != null"> accountHolder = #{accountHolder},</if>
            <if test="bankAccount != null"> bankAccount = #{bankAccount},</if>
            <if test="idCardPicPath != null"> idCardPicPath = #{idCardPicPath},</if>
            <if test="bankPicPath != null"> bankPicPath = #{bankPicPath}</if>
        </set>
        where id = #{id}
    </update>
    <insert id="addUser" parameterType="User">
        INSERT INTO au_user( <include refid="insert"/> )
        VALUES (#{loginCode},#{password},#{password2},#{userName},#{sex}
        ,#{birthday},#{cardType},#{cardTypeName},#{idCard},
        #{country},#{mobile},#{email},#{userAddress},#{postCode},now(),
        #{referId},#{referCode},#{roleId},#{roleName},#{userType},#{userTypeName},#{isStart},
        #{lastUpdateTime},#{lastLoginTime},#{bankAccount},#{bankName},#{accountHolder},
        #{idCardPicPath},#{bankPicPath});
    </insert><!--添加语句-->
    <sql id="all">
        id,loginCode,password,password2,userName,sex,
            birthday,cardType,cardTypeName,idCard,
            country,mobile,email,userAddress,postCode,createTime,
            referId,referCode,roleId,roleName,userType,userTypeName,isStart,
            lastUpdateTime,lastLoginTime,bankAccount,bankName,accountHolder
            idCardPicPath,bankPicPath
    </sql>
    <sql id="insert">
        loginCode,password,password2,userName,sex,
            birthday,cardType,cardTypeName,idCard,
            country,mobile,email,userAddress,postCode,createTime,
            referId,referCode,roleId,roleName,userType,userTypeName,isStart,
            lastUpdateTime,lastLoginTime,bankAccount,bankName,accountHolder,
            idCardPicPath,bankPicPath
    </sql>
</mapper>